{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": ["^node:(.*)$", "^[a-z]", "^@", "^\\./", "^\\.\\./"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
